body {
    /* Match JM's background colour */
    background-color: #222436;

    padding: 0;
    margin: 0;
}

html, body, #main {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.pixelated img.leaflet-tile {
    /*noinspection CssInvalidPropertyValue*/
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;

    image-rendering: crisp-edges;
    image-rendering: pixelated;

    -ms-interpolation-mode: nearest-neighbor;
}

.front {
    z-index: 10000;
}

.leaflet-container {
    /* Match JM's background colour */
    background-color: #222436;
}

.round-icon {
    border-radius: 100%;
}

/* Styles for the info pane */

.info-pane {
    background-clip: padding-box;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,.65);
    clear: both;
    color: #000;
    cursor: auto;
    font-size: 15px;
    line-height: 1.5;
    margin: 0 10px 10px 0;
    pointer-events: auto;
    position: relative;
    text-align: left;
    text-decoration: none;
    z-index: 1001;
}

.info-pane a {
    color: revert;
    cursor: pointer;
}

.info-pane > * {
    border-bottom: 1px solid rgb(204, 204, 204);
    display: block;
    padding: 5px 10px;
}

.info-pane > *:last-child {
    border-bottom: none;
}

.info-pane * svg {
    margin-right: 5px;
}

.info-pane .light-text {
    color: rgb(154, 154, 154);
}

.info-pane .truncate {
    max-width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Log viewer */

#logContent {
    max-height: calc(100vh - 35vh);
    overflow: scroll;
}

#logModal {
    height: 100vh;
}

/* Make tooltipped buttons look like untooltipped buttons */

.leaflet-touch .leaflet-bar > span:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.leaflet-touch .leaflet-bar > span:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.leaflet-touch .leaflet-bar > span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding-bottom: 30px; /* I admit that I have no idea why this is needed */
}

.leaflet-bar > span {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
}

.leaflet-bar > span, .leaflet-bar > span:hover {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #000;
    text-align: center;
    text-decoration: none;
}

.leaflet-bar > span:last-child {
    border-bottom: none;
}

/* Settings panel */

.settings-pane {
    margin-right: 10px;
    margin-top: 10px;
    pointer-events: auto;
    position: absolute;
    right: 0;
    text-align: left;
    text-decoration: none;
    top: 0;
    z-index: 1001;
}

.settings-pane > div {
    padding: 0;
}

.settings-pane .settings-pane-header {
    line-height: 24px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding: 3px 0 3px 10px;
}

.settings-pane .content {
    padding: 5px 10px;
}

.settings-pane .settings-group {
    border-top: 1px solid #ccc;

    padding-top: 5px;
    padding-bottom: 5px;
}

.settings-pane .settings-group:first-child {
    border-top: none;
    padding-top: 0;
}

.settings-pane .settings-group:last-child {
    padding-bottom: 0;
}

/* Snackbar on top */

.notices {
    z-index: 20000;
}