body {
    padding: 0;
    margin: 0;
}

html, body, #main {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.pixelated img.leaflet-tile {
    /*noinspection CssInvalidPropertyValue*/
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;

    image-rendering: crisp-edges;

    -ms-interpolation-mode: nearest-neighbor;
}

.leaflet-container {
    /* Match JM's background colour */

    background-color: #222436;
}
